* {
    box-sizing: border-box;
    background: #E5E5E5;
}

.body {
    margin: 0;
    background-color:white;
    position: relative;
}

.wrapper {
    width: 1440px;
    height: 844px;
	margin: 0 auto; 
    position: relative;
    border:1px white;
    background: white;
}

.header {
    height: 89px;
    border-color: none;
    background-color: #42cbf5;
    left: 0px;
    top: 0px;
}

.text-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 63px;
    color: #FFFFFF;
    padding-left: 29px;
    padding-top: 13px;
}

.main {
    position: relative;
	background-color: white;
	display: flex; 
}

.divider {
    position: absolute;
	width: 2px;
	height: 451px;
	left: 280px;
	top: 49px;
	background: #C4C4C4;
}

.block_left {
    width: 285px;
	height: 500px;
	padding: 20px;
    left: 335px;
    top: 143px;
    background: white; 
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    background-color: white;
}

 a {
    color: #FF710B;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    background-color: white;
    width: 206px;
    height: 28px;
    left: 20px;
    top: 71px;
}

.fixed {
    height: 20px;
    width: 50px;
    background-color: #FF710B;
    color: #000000;
    position: fixed;
    top: 700px;
    left: 300px;
}

.block_right {
    width: 1153px;
	height: 600px;
	padding: 20px;
}

.prokrutka {
    top: 30px;
    width:1080px;
    height:680px;
    right: 25px;
    left: 330px;
    background: #E5E5E5; 
    border: 1px solid #C1C1C1; 
    overflow-x: hidden;
    position: absolute; 
    
    }

.letter {
    height: 41px;
    background-color: #42cbf5;
    width: 1080px;
    left: -20px;
    top: 0px;
    position: sticky;
}

.letter-header {
    position: absolute;
    width: 19px;
    height: 33px;
    left: 13px;
    top: 4px;
    background-color: #42cbf5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.surname {
    margin-left: 50px;
}

li {
    list-style-type:none;
}

.surname-a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    padding-top: 13px;
    padding-bottom: 30px;
}


